.pagination {
	display: flex;
	justify-content: center;
	align-items: center;
}

.pagination__listItem {
	list-style-type: none;
	margin-right: 3px;
}

.active {
	background-color: green;
	color: white;
}

.pagination__listItem:hover {
	border: 1px solid black;
}
.pagination__link {
	text-decoration: none;
	color: black;
	font-size: 20px;
	padding: 0px 10px;
}
